<!-- about.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/myscripts.js"></script>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/appointment">Make An Appointment</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
        </ul>
    </nav>

    <div class="aboutcontentwrapper">
        <h1>About Us</h1>
            <div class="aboutprofile">
                <div class="aboutpic">
                    <img src="https://avatars.githubusercontent.com/u/144041807?v=4">
                </div>
                <div class="aboutdes">
                    <h2>Backend Developer</h2>
                    <h3>Jelwin Geuan Jun Wei</h3>
                    <h4>Language used: Python Database </h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                </div>
            </div>
            <div class="aboutprofile"> 
                <div class="aboutdes">
                    <h2>Frontend Developer</h2>
                    <h3>Kim Hong Zhang</h3>
                    <h4>Language used: HTML CSS JS</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                </div>
                <div class="aboutpic">
                    <img src="https://scontent.fkul16-4.fna.fbcdn.net/v/t39.30808-1/436449833_7379349335463790_1784858083920378799_n.jpg?stp=dst-jpg_p320x320&_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_ohc=3roSzPxS-N0Ab58mfNR&_nc_ht=scontent.fkul16-4.fna&oh=00_AfDVQyRsWjBjOiwuFkSgNSTAYj98gOwqrjaiYsLGGEFRVw&oe=662BE62C">
                </div>
            </div>
            <div class="aboutprofile">
                <div class="aboutpic">
                    <img src="https://scontent.fkul16-2.fna.fbcdn.net/v/t39.30808-1/241384026_108061918294921_8494514795338429988_n.jpg?stp=dst-jpg_p320x320&_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_ohc=Zfl8boyMKpkAb7Zo1_N&_nc_ht=scontent.fkul16-2.fna&oh=00_AfBok9I31xecy4wDtnQ4aYikyvZej9r3bTsnc1k0LZaoNw&oe=662C00EC">
                </div>
                <div class="aboutdes">
                    <h2>Database Developer</h2>
                    <h3>Yap Yang Yi</h3>
                    <h4>Language used: SQL</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                </div>
            </div>
    </div>

    <div class="footer-wrapper">
        <footer class="footer">
            <div class="footer-col">
                <h4>Universal Appointment Booking System</h4>
                <ul>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="/appointment">Book Now</a></li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>
