<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="../static/myscripts.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            
            <li><a href="/appointment">Make An Appointment</a></li>
            {% if session['logged_in'] == True %}
            <li class="dropdown">
                <a href="/profile" class="dropbtn">Profile<i class='bx bx-chevron-down'></i></a>
                <div class="dropdown-content">
                    <a href="/profile">View Profile</a>
                    <a href="/changepassword">Change Password</a>
                    <a href="/history">Booking History</a>
                </div>
            </li>
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
            {% endif %}
        </ul>  
    </nav>

    <div class="aboutcontentwrapper">
        <div class="about-main active   ">
            <div class="aboutprofile">
                <h1>Profile</h1>
                <h4>I'm a frontend developer</h4>
            </div>
            <div class="aboutcontent"> 
                <div class="aboutdes">
                    <h2>About me</h2>
                    
                        <p>Hello everyone!

                            I am Kim, a frontend developer with 1 years of experience in building user-friendly and responsive web applications. I have strong skills in HTML, CSS, and JavaScript.
                            
                            My main focus is on creating engaging and interactive user experiences. I write clean, maintainable code and ensure that my projects run smoothly across different devices and browsers. I also work closely with designers, product managers, and backend developers to make sure projects are completed successfully.</p>
                    </div>
                <div class="aboutphoto" id="aboutphoto">
                    <img src="https://avatars.githubusercontent.com/u/145662227?v=4" width="200">
                </div>
                <div class="aboutprofiledes" id="aboutprofiledes" >
                    <h2>Details</h2>
                    <h3>Name:</h3>
                    <p>Kim Hong Zhang</p>
                    <h3>Age: </h3>
                    <p>19</p>
                    <h3>Faculty: </h3>
                    <p>Faculty Computing and Informatic (FCI)</p>
                    <a href="https://github.com/kimhongzhang323"><i class='bx bxl-github'></i></a>
                    <a href="https://www.instagram.com/kimhongzhang/"><i class='bx bxl-instagram'></i></a>
                </div>
            </div>
        </div>
        <div class="about-main">
            <div class="aboutprofile">
                <h1>Profile</h1>
                <h4>I'm a Backend developer</h4>
            </div>
            <div class="aboutcontent"> 
                <div class="aboutdes">
                    <h2>About me</h2>
                    <p>I am Jelwin, a backend developer with 2 years of experience in building reliable and efficient server-side applications. I specialize in languages such as Python and C, and I am skilled in working with various frameworks and libary like Flask and etc.

                        My main focus is on creating robust and scalable backend systems. I write clean, maintainable code and ensure that my projects are secure and performant. I also work closely with frontend developers, product managers, and other team members to deliver seamless and integrated solutions.</p>
                </div>
                <div class="aboutphoto" id="aboutphoto">
                    <img src="https://avatars.githubusercontent.com/u/144041807?v=4" width="200"> 
                </div>
                <div class="aboutprofiledes" id="aboutprofiledes">
                    <h2>Details</h2>
                    <h3>Name:</h3>
                    <p>Jelwin Geuan</p>
                    <h3>Age: </h3>
                    <p>19</p>
                    <h3>Faculty: </h3>
                    <p>Faculty Computing and Informatic (FCI)</p>
                    <a href="https://github.com/jelwingeuan"><i class='bx bxl-github'></i></a>
                    <a href="https://www.instagram.com/jelwingeuan?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class='bx bxl-instagram'></i></a>
                </div>
            </div>
        </div>
        <div class="about-main">
            <div class="aboutprofile">
                <h1>Profile</h1>
                <h4>I'm a Database developer</h4>
            </div>
            <div class="aboutcontent"> 
                <div class="aboutdes">
                    <h2>About me</h2>
                    <p>I am Yang Yi, a database developer with 1 years of experience in designing, implementing, and managing databases. I specialize in both Sqlite3 and MYSQL databases, ensuring data integrity, performance, and security in my projects.

                        My main focus is on creating efficient and scalable database solutions. I design schemas, write optimized queries, and perform regular maintenance to ensure smooth operation. I work closely with backend developers, data analysts, and other team members to provide robust data support for applications.</p>
                </div>
                <div class="aboutphoto" id="aboutphoto">
                    <img src="https://avatars.githubusercontent.com/u/155413974?v=4" width="200">
                </div>
                <div class="aboutprofiledes" id="aboutprofiledes">
                    <h2>Details</h2>
                    <h3>Name:</h3>
                    <p>Yap Yang Yi</p>
                    <h3>Age: </h3>
                    <p>19</p>
                    <h3>Faculty: </h3>
                    <p>Faculty Computing and Informatic (FCI)</p>
                    <a href="https://github.com/YangYiYap"><i class='bx bxl-github'></i></a>
                </div>
            </div>
        </div>
    </div>
   
    <div class="footer-wrapper">
        <footer class="footer" style="position: relative; bottom: 0;">
            <div class="footer-col">
                <h4>Universal Appointment Booking System</h4>
                <ul>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/appointment">Book Now</a></li>
                    <li><a href="/signup">Join Now</a></li>
                </ul>
            </div>
        </footer>
    </div>  
</body>
</html>
