<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Editor</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="../static/myscripts.js"></script>
</head>
<body>
    <header>
        <h2>Page Editor</h2>
        <div class="profile-container">
            <h4>Admin</h4>
        </div>
    </header>
    <div class="sidebar">
        <ul>
            <li><i class='bx bx-laptop'></i><a href="/admin">Dashboard</a></li>
            <li><i class='bx bx-user'></i><a href="/usercontrol">User Control</a></li>
            <li><i class='bx bx-cart'></i><a href="/appointmentcontrol">Booking Control</a></li>
            <li><i class='bx bx-plus'></i><a href="/faculty">My Faculty</a></li>
            <li><i class='bx bx-plus'></i><a href="/createfacultyhub">Create Faculty</a></li>
            <li><i class='bx bx-edit'></i><a href="/adminpageeditor">Page Editor</a></li>
            <li><i class='bx bx-cog'></i><a href="/logout">Signout</a></li>
        </ul>
    </div>
    <div class="admincontainer">
        <div class="subadmincontainer">
            <h2>Edit Home Page Content</h2>
            <form action="/update_home_content" method="post" >
                <div class="form-group">
                    <label for="home_content">Home Page Content</label>
                    <textarea id="home_content" name="home_content">{{ home_content }}</textarea>
                </div>
                <div class="register-container">
                        <div class="input-container">
                            <label>
                                Upload School Logo:
                            </label>
                            <input type="file" name="school_logo">
                        </div>
                        <div class="input-container">
                            <label>
                                Enter School Name:
                            </label>
                            <textarea type="text" id="school_name" name="school_name" placeholder="{{ school_name }}"></textarea>
                        </div>
                        <div class="input-container">
                            <label>
                                Enter School Contact:
                            </label>
                            <textarea type="tel" id="school_tel" name="school_tel" placeholder="{{ school_tel }}"></textarea>
                        </div>
                        <div class="input-container">
                            <label>
                                Enter School Email:
                            </label>
                            <textarea type="email" id="school_email" name="school_email" placeholder="{{ school_email }}"></textarea>
                        </div>  
                        <button type="submit">Save Change</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
