{% extends "base.html" %}
{% block title %}Appointment{% endblock %}
{% block head %}
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}
{% block navigation %}
{% include "components/public_navigation.html" %}
{% endblock %}
{% block content %}
<div class="appointmentcontainer">
        <a href="/appointment2"><button>Book Your Appointment here</button></a>   
    </div>

    <div class="footer-wrapper">
        <footer class="footer" style="position: fixed;bottom: 0; ">
                <div class="footer-col">
                    <h4>Universal Appointment Booking System</h4>
                        <ul>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/appointment">Book Now</a></li>
                            <li><a href="/signup">Join Now</a></li>
                        </ul>
                </div>
        </footer>
    </div>
{% endblock %}
