{% extends "app_shell.html" %}
{% block title %}Change Password{% endblock %}
{% block page_styles %}
<style>
        .subpass{
            display: flex;
            margin-top: 20px;
            flex-direction: row;
            
        }
        .subpass input{
            margin-left: 10px;
            
        }
    </style>
{% endblock %}
{% from "components/breadcrumbs.html" import render_breadcrumbs %}
{% block breadcrumbs %}{{ render_breadcrumbs([{'label': 'Profile', 'url': url_for('profile.profile')}, {'label': 'Change Password'}]) }}{% endblock %}
{% block content %}
<div class="profilecontainer">
        <div class="profilewrapper">
            <div class="profilesubwrapper">
                <div class="changecontainer">
                    <div class="changesub" style="margin-left: 40px; ">
                        <form method="post" action="/change_password">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <div class="subpass">
                                <label for="currentPassword">Current Password</label>
                                <input type="password" id="currentPassword" name="current_password">
                            </div>
                            <div class="subpass">          
                                <label for="newPassword">New Password</label>
                                <input type="password" id="newPassword" name="new_password">                                
                            </div>
                            <div class="subpass">
                                <label for="confirmNewPassword">Confirm New Password</label>
                                <input type="password" id="confirmNewPassword" name="confirm_password">                               
                            </div>
                            <button type="submit">Update Password</button>
                        </form>
                    </div>
                </div>
                
            </div>       
        </div>
    </div>
{% endblock %}
