{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}
{% block page_styles %}
<style>
        .subpass{
            display: flex;
            margin-top: 20px;
            flex-direction: row;
            
        }
        .subpass input{
            margin-left: 10px;
            
        }
    </style>
{% endblock %}
{% block navigation %}
{% include "components/public_navigation.html" %}
{% endblock %}
{% block content %}
<div class="profilecontainer">
        <div class="profilewrapper">
            <div class="profileheader">
                <h3 style="margin: 10px;font-size: 30px;">Change Password</h3>
            </div>
            <div class="profilesubwrapper">
                <div class="profilesidebar">
                    <h3 style="margin-top: 30px; font-size: 22px;">{{ current_user.username }}</h3>
                    <a class="listitem active" data-toggle="list" href="/profile">General</a>
                    <a class="listitem" data-toggle="list" href="/changepassword">Change password</a>
                    {% if current_user.role == 'teacher' %}
                    <a class="listitem" data-toggle="list" href="/calendar">Calendar</a>
                    {% endif %}
                    <a class="listitem" data-toggle="list" href="/bookinghistory">Booking History</a>
                    <form class="logout-form" action="/logout" method="post"><input type="hidden" name="csrf_token" value="{{ csrf_token() }}"><button class="listitem logout-link" type="submit">Log Out</button></form>
                </div>
                <div class="changecontainer">
                    <div class="changesub" style="margin-left: 40px; ">
                        <h2 style="margin-top: 20px;" >Change Password</h2>
                        <form method="post" action="/change_password">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <div class="subpass">
                                <label for="currentPassword">Current Password</label>
                                <input type="password" id="currentPassword" name="current_password">
                            </div>
                            <div class="subpass">          
                                <label for="newPassword">New Password</label>
                                <input type="password" id="newPassword" name="new_password">                                
                            </div>
                            <div class="subpass">
                                <label for="confirmNewPassword">Confirm New Password</label>
                                <input type="password" id="confirmNewPassword" name="confirm_password">                               
                            </div>
                            <button type="submit">Update Password</button>
                        </form>
                    </div>
                </div>
                
            </div>       
        </div>
    </div>
    <div class="footer-wrapper">
        <footer class="footer" style="position: relative;">
                <div class="footer-col">
                    <h4>Universal Appointment Booking System</h4>
                        <ul>
                            <li><a href="/aboutus">about us</a></li>
                            <li><a href="/appointment">book now</a></li>
                            <li><a href="/signup">Join Now</a></li>
                        </ul>
                </div>
        </footer>
    </div>
{% endblock %}
