<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Faculty</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../static/myscripts.js"></script>
</head>
<body>
    <header>
        <h2>Dashboard</h2>

    </header>
    <div class="sidebar">
        <ul>
            <li><i class='bx bx-laptop'></i><a href="/admin">Dashboard</a></li>
            <li><i class='bx bx-user'></i><a href="/usercontrol">User Control</a></li>
            <li><i class='bx bx-cart'></i><a href="/appointmentcontrol">Booking Control</a></li>
            <li><i class='bx bx-plus'></i><a href="/faculty">My Faculty</a></li>
            <li><i class='bx bx-edit' ></i><a href="/adminpageeditor">Page Editor</a></li>
            <li><i class='bx bx-cog' ></i><a href="/logout">Signout</a></li>
        </ul>
    </div>
    <div class="add-main">
        <div class="add-box">
            <div class="add-header">
                <h2>Faculty Information</h2>
            </div>
            <form action="/createhub" method="post" enctype="multipart/form-data">
                <div class="faculty-info-update">
                    <h3>Faculty Profile Image</h3>
                    <input type="file" name="faculty_image" required>
                </div>
                <div class="faculty-info-update">
                    <h3>Faculty Name</h3>
                    <input type="text" name="faculty_name" required>
                </div>
                <div class="add-footer">
                    <a href="/faculty">Cancel</a>
                    <button type="submit">Save and Publish</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
