<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directory</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'rel='stylesheet'>
    <script src="../static/myscripts.js"></script>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">About<i class='bx bx-chevron-down'></i></a>
                <div class="dropdown-content">
                    <a href="/about">About Us</a>
                    <a href="/about">Faculty</a>
                    <a href="/about">History</a>
                </div>
            </li>
            
            <li><a href="/appointment">Make An Appointment</a></li>
            {% if session['logged_in'] == True %}
            <li class="dropdown">
                <a href="/profile" class="dropbtn">Profile<i class='bx bx-chevron-down'></i></a>
                <div class="dropdown-content">
                    <a href="/profile">View Profile</a>
                    <a href="/changepassword">Change Password</a>
                    <a href="/history">Booking History</a>
                </div>
            </li>
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
            {% endif %}
        </ul>  
    </nav>
    <div class="dir">
        <h1>Directory</h1>
    </div>
    <div class="card-container"> 
        <div class="card">
            <div class="card-image">
                <img src="https://mmuexpert.mmu.edu.my/images/staff/1001060633.jpg" alt="Profile image">
            </div>
            <p class="name">Willie Poh Kaw Lik</p>
            <p>FCI Lecturer</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam recusandae alias in incidunt.</p>
            <div class="socials">
                <button class="instagram"><i class='bx bxl-instagram'></i>
                <button class="linkedin"><i class='bx bxl-linkedin'></i>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="https://mmuexpert.mmu.edu.my/images/staff/1001060633.jpg" alt="Profile image">
            </div>
            <p class="name">Willie Poh Kaw Lik</p>
            <p>FCI Lecturer</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam recusandae alias in incidunt.</p>
            <div class="socials">
                <button class="instagram"><i class='bx bxl-instagram'></i>
                <button class="linkedin"><i class='bx bxl-linkedin'></i>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="https://mmuexpert.mmu.edu.my/images/staff/1001060633.jpg" alt="Profile image">
            </div>
            <p class="name">Willie Poh Kaw Lik</p>
            <p>FCI Lecturer</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam recusandae alias in incidunt.</p>
            <div class="socials">
                <button class="instagram"><i class='bx bxl-instagram'></i>
                <button class="linkedin"><i class='bx bxl-linkedin'></i>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="https://mmuexpert.mmu.edu.my/images/staff/1001060633.jpg" alt="Profile image">
            </div>
            <p class="name">Willie Poh Kaw Lik</p>
            <p>FCI Lecturer</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam recusandae alias in incidunt.</p>
            <div class="socials">
                <button class="instagram"><i class='bx bxl-instagram'></i>
                <button class="linkedin"><i class='bx bxl-linkedin'></i>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="https://mmuexpert.mmu.edu.my/images/staff/1001060633.jpg" alt="Profile image">
            </div>
            <p class="name">Willie Poh Kaw Lik</p>
            <p>FCI Lecturer</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam recusandae alias in incidunt.</p>
            <div class="socials">
                <button class="instagram"><i class='bx bxl-instagram'></i>
                <button class="linkedin"><i class='bx bxl-linkedin'></i>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="https://mmuexpert.mmu.edu.my/images/staff/1001060633.jpg" alt="Profile image">
            </div>
            <p class="name">Willie Poh Kaw Lik</p>
            <p>FCI Lecturer</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam recusandae alias in incidunt.</p>
            <div class="socials">
                <button class="instagram"><i class='bx bxl-instagram'></i>
                <button class="linkedin"><i class='bx bxl-linkedin'></i>
            </div>
        </div>
    </div>
    <div class="footer-wrapper">
        <footer class="footer">
            <div class="footer-col">
                <h4>Universal Appointment Booking System</h4>
                <ul>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/appointment">Book Now</a></li>
                    <li><a href="/signup">Join Now</a></li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>