<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../static/myscripts.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/appointment">Make An Appointment</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
        </ul>
    </nav>
    <div class="profilecontainer">
        <div class="profilewrapper">
            <div class="profileheader">
                <h3>Profiles</h3>
            </div>
            <div class="profilesubwrapper">
                <div class="profilesidebar">
                    <img src="https://scontent.fkul16-4.fna.fbcdn.net/v/t39.30808-1/436449833_7379349335463790_1784858083920378799_n.jpg?stp=dst-jpg_p200x200&_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_ohc=NbRA2_HyWlwQ7kNvgFQ_0S5&_nc_ht=scontent.fkul16-4.fna&oh=00_AfA5zYbmS5JWc5mef-vcza6p-hrEkilc98uLgwIw6wjDeQ&oe=663A66AC" >
                    <h3>Kim Hong Zhang</h3> 
                    <a class="listitem active" data-toogle="list" href="#">General</a>
                    <a class="listitem" data-toogle="list" href="#">Change password</a>
                    <a class="listitem" data-toogle="list" href="#">History</a>
                    <a class="listitem" data-toogle="list" href="#">Log Out</a>
                </div>
                 
                
            </div>       
        </div>
    </div>
    <div class="footer-wrapper">
        <footer class="footer" style="position: relative; bottom: 0;">
            <div class="footer-col">
                <h4>Universal Appointment Booking System</h4>
                <ul>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="/appointment">Book Now</a></li>
                </ul>
            </div>
        </footer>
    </div>  
</body>
</html>