<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        .edit-container {
            position: absolute;
            top: 59%;
            left: 57.5%;
            transform: translate(-50%, -50%) scale(1);
            background-color: white;
            padding: 20px;
            border: 1px solid #ccc;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 9999;
            display: none;
            transition: opacity 0.3s ease, transform 0.3s ease;
            width: 700px;
            height: 500px;
        }

        .edit-container.active {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1.1);
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/appointment">Make An Appointment</a></li>
            {% if session['logged_in'] %}
            <li class="dropdown">
                <a href="/profile" class="dropbtn">Profile<i class='bx bx-chevron-down'></i></a>
                <div class="dropdown-content">
                    <a href="/profile">View Profile</a>
                    <a href="/changepassword">Change Password</a>
                    <a href="/bookinghistory">Booking History</a>
                </div>
            </li>
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
            {% endif %}
        </ul>  
    </nav>
    <div class="profilecontainer">
        <div class="profilewrapper">
            <div class="profileheader">
                <h3 style="margin: 10px; font-size: 30px;">Profiles</h3>
            </div>
            <div class="profilesubwrapper">
                <div class="profilesidebar">
                    <h3 style="margin-top: 30px; font-size: 22px;">{{ session.username }}</h3>
                    <a class="listitem" data-toggle="list" href="/profile">General</a>
                    <a class="listitem" data-toggle="list" href="/changepassword">Change password</a>
                    {% if session.role == 'teacher' %}
                    <a class="listitem" data-toggle="list" href="/calendar">Calendar</a>
                    <a class="listitem" data-toggle="list" href="/display_availability">Display Availability</a>
                    {% endif %}
                    <a class="listitem" data-toggle="list" href="/bookinghistory">Booking History</a>
                    <a class="listitem" data-toggle="list" href="/logout">Log Out</a>
                </div>
                <div class="profilemain">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div class="profilefooter">
                <button id="cancelButton">Cancel</button>
                <button id="editButton">Edit</button>
            </div>
        </div>
    </div>
    <div id="profileEditContainer" class="edit-container" style="display: none;">
        <form id="updateForm" method="post" action="/update_user_info">
            <label for="username">Username:</label>
            <input type="text" id="usernameInput" name="username" value="{{ username }}">
            <br>
            <label for="email">Email:</label>
            <input type="email" id="emailInput" name="email" value="{{ email }}">
            <br><br>
            <label for="phone_number">Phone Number:</label>
            <input type="text" id="phoneInput" name="phone_number" value="{{ phone_number }}">
            <br>
            <div class="profilefooter">
                <button id="updateButton" type="submit">Update</button>
            </div>
        </form>
    </div>
    <div class="footer-wrapper">
        <footer class="footer">
            <div class="footer-col">
                <h4>Universal Appointment Booking System</h4>
                <ul>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/appointment">Book Now</a></li>
                    <li><a href="/signup">Join Now</a></li>
                </ul>
            </div>
        </footer>
    </div>
    <script src="../static/myscripts.js"></script>
</body>
</html>
