<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Out</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/myscripts.js"></script>
</head>
<body>
    <div class="messagecontainer">
        <div class="message-body">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Flat_tick_icon.svg/2048px-Flat_tick_icon.svg.png">
            <h2>Sign Out</h2>
            <p>Are you want to log out</p>
            <a href="/signoutflash2"><button>Ok</button></a>
            <a href="/admin"><button>Cancel</button></a>
        </div>
    </div>
</body>
</html>
