<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/style.css">
    <style>
        button {
        padding: 10px 20px;
        margin: 5px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        }

        button:focus {
        outline: none;
        }

        button[type="button"] {
        background-color: #007BFF;
        color: white;
        transition: background-color 0.3s ease;
        }

        button[type="button"]:hover {
        background-color: #0056b3;
        }

        button[type="button"]:active {
        background-color: #004085;
        }

        button[type="button"]:nth-of-type(2) {
        background-color: #DC3545;
        }

        button[type="button"]:nth-of-type(2):hover {
        background-color: #c82333;
        }

        button[type="button"]:nth-of-type(2):active {
        background-color: #bd2130;
        }

    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/appointment">Make An Appointment</a></li>
            {% if session['logged_in'] == True %}
            <li><a href="/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
            {% else %}
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="wrapper" style="width: 600px; position: relative;">
        <h1>Sign Up</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}" >{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

        <!-- Notice for incorrect email format -->
        <p id="emailFormatNotice" style="color: red;"></p>
        <p id="emailNotice" style="color: red;"></p>
        <form method="post" action="/signup">
            <div class="role">
                <label>Choose your role</label>
                <div class="role-options">
                    <input type="radio" name="role" value="student" id="studentRole">
                    <label for="studentRole">Student</label>
                    <input type="radio" name="role" value="teacher" id="teacherRole">
                    <label for="teacherRole">Teacher</label>
                </div>
            </div>
            <div id="pinInput" style="display: none; margin-bottom: 20px;">
                <label for="pin">Enter PIN:</label>
                <input type="password" name="pin" id="pin">
                <button type="button" onclick="validatePin()">Submit PIN</button>
                <button type="button" onclick="retractPin()">Retract</button>
                <p id="pinMessage" style="color: red;"></p>
            </div>
            <div id="signupDetails" style="display: none;">
                <div class="profileinput">
                    <label>Faculty</label>
                    <select class="profileinputdetails" name="faculty" required>
                        {% for faculty in faculties %}
                            <option value="{{ faculty['faculty_name'] }}">{{ faculty['faculty_name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input_box">
                    <input type="text" name="username" required>
                    <span></span>
                    <label>Full Name</label>
                </div>
                <div class="input_box">
                    <input type="email" name="email" required>
                    <span></span>
                    <label>Email</label>
                </div>
                <div class="input_box">
                    <input type="tel" name="phone_number" required>
                    <span></span>
                    <label>Phone Number</label>
                </div>
                <div class="input_box">
                    <input type="password" name="password" id="passwordField" minlength="8" required>
                    <span></span>
                    <label for="passwordField">Password</label>
                </div>
                <div class="input_box">
                    <input type="password" name="confirm_password" id="confirmPasswordField" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                    <span></span>
                    <label for="confirmPasswordField">Confirm your password</label>
                </div>
                <input type="submit" value="Sign Up" style="margin-bottom: 40px;">
            </div>
        </form>
    </div>
    <div class="footer-wrapper">
        <footer class="footer" style="position: relative; bottom: 0;">
            <div class="footer-col">
                <h4>Universal Appointment Booking System</h4>
                <ul>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/appointment">Book Now</a></li>
                    <li><a href="/signup">Join Now</a></li>
                </ul>
            </div>
        </footer>
    </div>
    <script>
        document.getElementById('studentRole').addEventListener('click', function() {
            document.getElementById('pinInput').style.display = 'none';
            document.getElementById('signupDetails').style.display = 'block';
            document.getElementById('emailFormatNotice').innerText = 'Note: Students must use an @student.mmu.edu.my email address.';
        });

        document.getElementById('teacherRole').addEventListener('click', function() {
            document.getElementById('signupDetails').style.display = 'none';
            document.getElementById('pinInput').style.display = 'block';
            document.getElementById('emailFormatNotice').innerText = 'Note: Teachers must use an @mmu.edu.my email address.';
        });

        function validatePin() {
            const pin = document.getElementById('pin').value;
            fetch('/getpin')
                .then(response => response.json())
                .then(data => {
                    if (pin === data.pin) {
                        document.getElementById('pinInput').style.display = 'none';
                        document.getElementById('signupDetails').style.display = 'block';
                    } else {
                        document.getElementById('pinMessage').innerText = 'PIN is incorrect';
                    }
                });
        }

        function retractPin() {
            document.getElementById('pinInput').style.display = 'none';
            document.getElementById('signupDetails').style.display = 'none';
            document.getElementById('teacherRole').checked = false;
        }
    </script>
</body>
</html>
